:root {
    --primary-color: rgb(10, 10, 10);
}


.main-btn {

    font-size: medium;
    font-weight: 500;
    color: var(--primary-color);
    text-transform: uppercase;
    background-color: transparent;
    border: 1px solid var(--primary-color);
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
    line-height: 10px;
    display: inline-block;
    transition: all 0.3s ease-out 0s;

}

rooms .carousel-item {
    transition: transform 0.8s ease-in-out;
}

.carousel-item-next.carousel-item-start,
.carousel-item-prev.carousel-item-end {
    transform: translateY(0);
}

.carousel-item-next,
.active.carousel-item-start {
    transform: translateY(100%);
}

.carousel-item-prev,
.active.carousel-item-end {
    transform: translateY(-100%);
}

ul,
li {

    list-style: none;
}



.row-img {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

/* Create four equal columns that sits next to each other */
.column-img {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column-img img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
    .column-img {
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column-img {
        flex: 100%;
        max-width: 100%;
    }
}

/* * {
    border: 1px solid red;

} */


.glass-nav {
    background: rgb(232, 243, 246);
    backdrop-filter: blur(2px);
}

.list-unstyled a {
    text-decoration: none;
}

.service {
    transition: transform 0.5s ease;

}

.service:hover {
    transform: scale(1.2);
}